<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>GitGrove</display-name>
	<filter>
		<description>
		</description>
		<display-name>CORSFilter</display-name>
		<filter-name>CORSFilter</filter-name>
		<filter-class>filters.CORSFilter</filter-class>
	</filter>

	<filter>
		<description>
		</description>
		<display-name>JwtFilter</display-name>
		<filter-name>JwtFilter</filter-name>
		<filter-class>filters.JwtFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>JwtFilter</filter-name>
		<url-pattern>/service/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>listeners.DBconnectionInit</listener-class>
	</listener>
	<servlet>
		<description>s
		</description>
		<display-name>CreateRepoServlet</display-name>
		<servlet-name>CreateRepoServlet</servlet-name>
		<servlet-class>controller.CreateRepoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BranchExtractor</display-name>
		<servlet-name>BranchExtractor</servlet-name>
		<servlet-class>controller.BranchExtractor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CommitExtractor</display-name>
		<servlet-name>CommitExtractor</servlet-name>
		<servlet-class>controller.CommitExtractor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileExtractor</display-name>
		<servlet-name>FileExtractor</servlet-name>
		<servlet-class>controller.FileExtractor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdatePassword</display-name>
		<servlet-name>UpdatePassword</servlet-name>
		<servlet-class>controller.UpdatePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignUp</display-name>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>controller.Authentication.SignUp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignIn</display-name>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>controller.Authentication.SignIn</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClearSession</display-name>
		<servlet-name>ClearSession</servlet-name>
		<servlet-class>controller.Authentication.ClearSession</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExtendSession</display-name>
		<servlet-name>ExtendSession</servlet-name>
		<servlet-class>controller.Authentication.ExtendSession</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RepositoryDetails</display-name>
		<servlet-name>RepositoryDetails</servlet-name>
		<servlet-class>controller.RepositoryDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>

		<display-name>RepositoryServlet</display-name>
		<servlet-name>RepositoryServlet</servlet-name>
		<servlet-class>controller.RepositoryServlet</servlet-class>

	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStarToRepository</display-name>
		<servlet-name>AddStarToRepository</servlet-name>
		<servlet-class>controller.AddStarToRepository</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>

		<display-name>GetStarredRepositories</display-name>
		<servlet-name>GetStarredRepositories</servlet-name>
		<servlet-class>controller.GetStarredRepositories</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>UpdateUserProfile</display-name>
		<servlet-name>UpdateUserProfile</servlet-name>
		<servlet-class>controller.UpdateUserProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetSessionsDetails</display-name>
		<servlet-name>GetSessionsDetails</servlet-name>
		<servlet-class>controller.GetSessionsDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutSession</display-name>
		<servlet-name>LogoutSession</servlet-name>
		<servlet-class>controller.LogoutSession</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ValidSession</display-name>
		<servlet-name>ValidSession</servlet-name>
		<servlet-class>controller.ValidSession</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetAllUsers</display-name>
		<servlet-name>GetAllUsers</servlet-name>
		<servlet-class>controller.GetAllUsers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FindPeople</display-name>
		<servlet-name>FindPeople</servlet-name>
		<servlet-class>controller.FindPeople</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestCollaborator</display-name>
		<servlet-name>RequestCollaborator</servlet-name>
		<servlet-class>controller.RequestCollaborator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCollaborator</display-name>
		<servlet-name>AddCollaborator</servlet-name>
		<servlet-class>controller.AddCollaborator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetCollaborators</display-name>
		<servlet-name>GetCollaborators</servlet-name>
		<servlet-class>controller.GetCollaborators</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetCollabRequests</display-name>
		<servlet-name>GetCollabRequests</servlet-name>
		<servlet-class>controller.GetCollabRequests</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SpecificBranchRepositoryStructure</display-name>
		<servlet-name>SpecificBranchRepositoryStructure</servlet-name>
		<servlet-class>controller.SpecificBranchRepositoryStructure</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExploreRepositories</display-name>
		<servlet-name>ExploreRepositories</servlet-name>
		<servlet-class>controller.ExploreRepositories</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TopRatedRepositories</display-name>
		<servlet-name>TopRatedRepositories</servlet-name>
		<servlet-class>controller.TopRatedRepositories</servlet-class>
	</servlet>



	<servlet>
		<description>
		</description>
		<display-name>MainServlet</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>util.repocreate.MainServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/mainserve/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<description>
		</description>
		<display-name>GitHttpServlet</display-name>
		<servlet-name>GitHttpServlet</servlet-name>
		<servlet-class>util.repocreate.GitHttpServlet</servlet-class>

	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewGitHttpServlet</display-name>
		<servlet-name>NewGitHttpServlet</servlet-name>
		<servlet-class>util.repocreate.NewGitHttpServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetFIlesAccordingToCommit</display-name>
		<servlet-name>GetFIlesAccordingToCommit</servlet-name>
		<servlet-class>controller.GetFIlesAccordingToCommit</servlet-class>
	</servlet>
	<servlet>
		<description>
				</description>
		<display-name>RenameUsernameFolderServlet</display-name>
		<servlet-name>RenameUsernameFolderServlet</servlet-name>
		<servlet-class>controller.RenameUsernameFolderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
				</description>
		<display-name>IsValidUser</display-name>
		<servlet-name>IsValidUser</servlet-name>
		<servlet-class>controller.Authentication.IsValidUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetCommitVersions</display-name>
		<servlet-name>GetCommitVersions</servlet-name>
		<servlet-class>controller.GetCommitVersions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ZipFileConverter</display-name>
		<servlet-name>ZipFileConverter</servlet-name>
		<servlet-class>controller.ZipFileConverter</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GitAuthService</display-name>
		<servlet-name>GitAuthService</servlet-name>
		<servlet-class>services.GitAuthService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PullRequest</display-name>
		<servlet-name>PullRequest</servlet-name>
		<servlet-class>controller.pullrequests.PullRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddSSHKey</display-name>
		<servlet-name>AddSSHKey</servlet-name>
		<servlet-class>controller.AddSSHKey</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewRequests</display-name>
		<servlet-name>ViewRequests</servlet-name>
		<servlet-class>controller.pullrequests.ViewRequests</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetSSHKeys</display-name>
		<servlet-name>GetSSHKeys</servlet-name>
		<servlet-class>controller.GetSSHKeys</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MergePullRequest</display-name>
		<servlet-name>MergePullRequest</servlet-name>
		<servlet-class>controller.pullrequests.MergePullRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClosePullRequest</display-name>
		<servlet-name>ClosePullRequest</servlet-name>
		<servlet-class>controller.pullrequests.ClosePullRequest</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>DeleteSshKey</display-name>
		<servlet-name>DeleteSshKey</servlet-name>
		<servlet-class>controller.DeleteSshKey</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GitHttpServlet</servlet-name>
		<url-pattern>/httpmainserve/*</url-pattern>
	</servlet-mapping>




	<servlet-mapping>
		<servlet-name>CreateRepoServlet</servlet-name>
		<url-pattern>/service/CreateRepoServlet/*</url-pattern>
	</servlet-mapping>





	<servlet-mapping>
		<servlet-name>BranchExtractor</servlet-name>
		<url-pattern>/service/BranchExtractor/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CommitExtractor</servlet-name>
		<url-pattern>/service/CommitExtractor/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FileExtractor</servlet-name>
		<url-pattern>/service/FileExtractor/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdatePassword</servlet-name>
		<url-pattern>/service/UpdatePassword</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/auth/register</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/auth/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ClearSession</servlet-name>
		<url-pattern>/clearsession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtendSession</servlet-name>
		<url-pattern>/ExtendSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RepositoryDetails</servlet-name>
		<url-pattern>/service/getAllRepositories</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RepositoryServlet</servlet-name>
		<url-pattern>/service/repo-info</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddStarToRepository</servlet-name>
		<url-pattern>/service/AddStarToRepository</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetStarredRepositories</servlet-name>
		<url-pattern>/service/getstarredrepositories</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateUserProfile</servlet-name>
		<url-pattern>/service/users/update/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSessionsDetails</servlet-name>
		<url-pattern>/service/getactivesessions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutSession</servlet-name>
		<url-pattern>/service/logoutsession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidSession</servlet-name>
		<url-pattern>/service/ValidSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllUsers</servlet-name>
		<url-pattern>/service/getallusers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindPeople</servlet-name>
		<url-pattern>/service/findpeople</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestCollaborator</servlet-name>
		<url-pattern>/service/requestcollaborator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCollaborator</servlet-name>
		<url-pattern>/service/accept-invite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCollaborators</servlet-name>
		<url-pattern>/service/getcollaborators</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCollabRequests</servlet-name>
		<url-pattern>/service/getcollabrequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SpecificBranchRepositoryStructure</servlet-name>
		<url-pattern>/SpecificBranchRepositoryStructure</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExploreRepositories</servlet-name>
		<url-pattern>/service/explore/repositories</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopRatedRepositories</servlet-name>
		<url-pattern>/service/explore/top_repositories</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewGitHttpServlet</servlet-name>
		<url-pattern>/NewGitHttpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFIlesAccordingToCommit</servlet-name>
		<url-pattern>/GetFIlesAccordingToCommit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RenameUsernameFolderServlet</servlet-name>
		<url-pattern>/service/RenameUsernameFolderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IsValidUser</servlet-name>
		<url-pattern>/service/auth/isuserexists</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCommitVersions</servlet-name>
		<url-pattern>/service/GetCommitVersions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ZipFileConverter</servlet-name>
		<url-pattern>/service/download/zip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GitAuthService</servlet-name>
		<url-pattern>/git/auth/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PullRequest</servlet-name>
		<url-pattern>/service/PullRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSSHKey</servlet-name>
		<url-pattern>/service/ssh/add-key</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewRequests</servlet-name>
		<url-pattern>/service/ViewRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MergePullRequest</servlet-name>
		<url-pattern>/service/MergePullRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClosePullRequest</servlet-name>
		<url-pattern>/service/ClosePullRequest</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GetSSHKeys</servlet-name>
		<url-pattern>/service/ssh/keys</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSshKey</servlet-name>
		<url-pattern>/service/ssh/delete-key/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>USER_PASSWORD</param-name>
		<param-value>Rajkumardev@371</param-value>
	</context-param>
	<context-param>
		<param-name>DB_URL</param-name>
		<param-value>jdbc:mysql://localhost:3306/collaboration_system</param-value>
	</context-param>
	<context-param>
		<param-name>DB_USERNAME</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>DB_PASSWORD</param-name>
		<param-value>raj@777</param-value>
	</context-param>
</web-app>
