<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>GitGrove</display-name>
	<filter>
		<description>
		</description>
		<display-name>CORSFilter</display-name>
		<filter-name>CORSFilter</filter-name>
		<filter-class>filters.CORSFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>listeners.DBconnectionInit</listener-class>
	</listener>
	<servlet>
		<description>s
		</description>
		<display-name>CreateRepoServlet</display-name>
		<servlet-name>CreateRepoServlet</servlet-name>
		<servlet-class>controller.CreateRepoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BranchExtractor</display-name>
		<servlet-name>BranchExtractor</servlet-name>
		<servlet-class>controller.BranchExtractor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CommitExtractor</display-name>
		<servlet-name>CommitExtractor</servlet-name>
		<servlet-class>controller.CommitExtractor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileExtractor</display-name>
		<servlet-name>FileExtractor</servlet-name>
		<servlet-class>controller.FileExtractor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdatePassword</display-name>
		<servlet-name>UpdatePassword</servlet-name>
		<servlet-class>controller.UpdatePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignUp</display-name>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>controller.Authentication.SignUp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignIn</display-name>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>controller.Authentication.SignIn</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClearSession</display-name>
		<servlet-name>ClearSession</servlet-name>
		<servlet-class>controller.Authentication.ClearSession</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExtendSession</display-name>
		<servlet-name>ExtendSession</servlet-name>
		<servlet-class>controller.Authentication.ExtendSession</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RepositoryDetails</display-name>
		<servlet-name>RepositoryDetails</servlet-name>
		<servlet-class>controller.RepositoryDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>

		<display-name>RepositoryServlet</display-name>
		<servlet-name>RepositoryServlet</servlet-name>
		<servlet-class>controller.RepositoryServlet</servlet-class>

	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStarToRepository</display-name>
		<servlet-name>AddStarToRepository</servlet-name>
		<servlet-class>controller.AddStarToRepository</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUserProfile</display-name>
		<servlet-name>UpdateUserProfile</servlet-name>
		<servlet-class>controller.UpdateUserProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateRepoServlet</servlet-name>
		<url-pattern>/CreateRepoServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BranchExtractor</servlet-name>
		<url-pattern>/BranchExtractor/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommitExtractor</servlet-name>
		<url-pattern>/CommitExtractor/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileExtractor</servlet-name>
		<url-pattern>/FileExtractor/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePassword</servlet-name>
		<url-pattern>/UpdatePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/auth/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/auth/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearSession</servlet-name>
		<url-pattern>/ClearSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtendSession</servlet-name>
		<url-pattern>/ExtendSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RepositoryDetails</servlet-name>
		<url-pattern>/getAllRepositories</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RepositoryServlet</servlet-name>
		<url-pattern>/repo-info</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddStarToRepository</servlet-name>
		<url-pattern>/AddStarToRepository</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserProfile</servlet-name>
		<url-pattern>/users/update/profile</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>USER_PASSWORD</param-name>
		<param-value>Rajkumardev@371</param-value>
	</context-param>
	<context-param>
		<param-name>DB_URL</param-name>
		<param-value>jdbc:mysql://localhost:3306/collaboration_system</param-value>
	</context-param>
	<context-param>
		<param-name>DB_USERNAME</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>DB_PASSWORD</param-name>
		<param-value>raj@777</param-value>
	</context-param>
</web-app>
